@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

#content {
  margin-left: auto;
  margin-right: auto;
  /*width: 650px;*/
}

#greeting-container {
  margin-top: 20px;
}

.alt-font {
  font-family: 'Montserrat', 
  sans-serif !important;
}

.image_diffuminated {
  background-image: url("https://wallpaperaccess.com/full/196766.jpg");
}

.wrapper {
  width: 300vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  color: #fff;
  width: 25ch;
  animation: typing 2s steps(25), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.6em;
}
  
@keyframes typing {
  from {
    width: 0
  }
}
      
@keyframes blink {
  50% {
    border-color: transparent
  }
}